---
import GitHub from "./icons/GitHub.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Unity from "./icons/Unity.astro"
import Csharp from "./icons/Csharp.astro"

const TAGS = {
  UNITY: {
    name: "Unity",
    class: "bg-black text-white",
    icon: Unity,
  },
  CSHARP: {
    name: "Csharp",
    class: "bg-[#4682b4] text-white",
    icon: Csharp,
  },
}
const PROJECTS = [
  {
    title: "MrMania - Primera GameJam - Generation",
    description:
      "Minijuego basado en supervivencia, con toques del género de suspenso, en el cual desarrolle la mecánica de jugador y enemigos, power-ups y lógica de funcionalidad. ",
    link: "https://coltaketa.itch.io/mr-mania",
    github: "https://github.com/RicardoDuennas/MrMania",
    image: "/projects/MrMania.webp",
    tags: [TAGS.UNITY, TAGS.CSHARP],
  },
  {
    title: "Space Blaster - Prototipo",
    description:
      "Prototipo inspirado en el mítico Space Invaders, en el cual practique las bases de las mecánicas de jugador, colisiones y puntaje. ",
    link: "https://devosdres.itch.io/spaceblaster-prototype",
    github: "https://github.com/DevOsdres/Space-Blaster-Prototype",
    image: "/projects/SpaceShip.webp",
    tags: [TAGS.UNITY, TAGS.CSHARP],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Por editar" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400 text-justify">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Repo
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>